@import url('./fonts.css');
@import url('./variables.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: var(--font-color);
  background-color: var(--first-bg-color);
}

h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

.container, .wrapper {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
}

.header--sticky {
  position: fixed;
}

.header__container {
  display: flex;
  gap: 210px;
  align-items: center;
  padding-top: 20px;
  padding-left: 26px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo > .logo__link {
  color: var(--link-color);
  text-decoration: none;
}

.header__logo > .logo__link:hover {
  color: var(--hover-color);
}

.header__logo > .logo__link > .logo__text {
  font-family: 'Prata';
  font-size: 36px;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav > .nav__list {
  display: flex;
  gap: 25px;
  list-style: none;
}

.header__nav > .nav__list > .nav__item > .nav__link {
  font-style: italic;
  font-size: 16px;
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header__nav > .nav__list > .nav__item > .nav__link:hover {
  color: var(--hover-color);
}

main {
  /* padding-top: 100px; */
}

.main__container {
  display: flex;
  flex-direction: column;
}

.description__content {
  max-width: 530px;
  margin-top: 217px;
  margin-left: 10px;
}

.description__content > .description__title {
  font-family: 'Prata';
  font-size: 80px;
  line-height: 102px;
}

.description__content > .description__subtitle {
  font-size: 50px;
  line-height: 82px;
  letter-spacing: -2px;
}

.description__list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  list-style: none;
}

.description__list > .description__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.description__list > .description__item::before {
  content: '';
  width: 39px;
  height: 37px;
  margin-right: 20px;
  background: url('../images/icons/hero.svg');
}

.description__item > .description__text {
  font-size: 24px;
}

.description__item > .description__text .highlight {
  margin-right: 10px;
  font-family: 'Prata';
  font-size: 40px;
}

.description__button {
  margin-top: 15px;
  padding: 33px 52px;
  font-size: 24px;
  font-weight: bold;
  color: var(--first-button-color);
  background-color: var(--first-button-bg);
}

.description__img {
  position: absolute;
  top: 0;
  right: 0;
}

.description__img > img {
  max-width: 746px;
  width: 746px;
  max-height: 1009px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.main__advantages {
  margin-top: 50px;
  background-color: var(--second-bg-color);
}

.advantages__content {
  display: flex;
  padding-top: 100px;
}

.advantages__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  list-style: none;
}

.advantages__list > .advantages__item {
  padding: 0 54px;
}

.advantages__item > .advantages__item-text {
  display: flex;
  padding: 37px 0;
  font-size: 24px;
  line-height: 29px;
}

.advantages__item:not(:last-child) > .advantages__item-text {
  border-bottom: 1px solid var(--first-line-color);
}

.advantages__item > .advantages__item-text::before {
  content: '';
  display: block;
  min-width: 58px;
  height: 47px;
  margin-right: 20px;
  background: url('../images/icons/advantages.svg');
}

.advantages__img > img {
  max-width: 622px;
  max-height: 724px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.advantages__img.advantages__img--left > img {
  width: 724px;
}

.advantages__img.advantages__img--right > img {
  width: 561px;
}

.advantages__button {
  margin-top: 44px;
  padding: 27px 270px;
  font-size: 20px;
  font-weight: bold;
  color: var(--first-button-color);
  background-color: var(--first-button-bg);
}

.main__form {
  padding-top: 97px;
  padding-bottom: 103px;
  background-color: var(--second-bg-color);
}

.main__form-content {
  position: relative;
  display: flex;
  margin-left: 11px;
  background-color: #fff;
  border: 0;
  border-radius: 30px;
}

.form-content {
  padding: 67px 134px;
}

.form-content > .form-content__title {
  max-width: 410px;
  font-family: 'Prata';
  font-size: 54px;
  line-height: 64px;
  color: var(--form-title-color);
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form__input-wrapper > .form__input {
  margin-bottom: 11px;
  padding: 17px 38px;
  font-size: 24px;
  border: 2px solid var(--form-border-color);
  border-radius: 4px;
}

.form__checkbox-wrapper {
  display: flex;
  margin-top: 15px;
}

.form__checkbox-wrapper > .form__checkbox {
  width: 24px;
  height: 24px;
  margin: 0;
}

.form__checkbox-wrapper > .form__checkbox-label {
  margin-left: 15px;
  font-size: 19px;
  color: var(--form-text-color);
}

.main__form-img {
  position: absolute;
  top: -32px;
  right: -1px;
}

.main__form-img > img {
  max-width: 583px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.form__button {
  margin-top: 28px;
  padding: 36px 306px;
  font-size: 24px;
  color: var(--second-button-color);
  background-color: var(--second-button-bg);
}

.footer__nav {
  border-top: 2px solid var(--second-line-color);
  border-bottom: 2px solid var(--second-line-color);
}

.footer__nav > .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.footer__nav > .nav > .nav__list {
  display: flex;
  gap: 4px;
  margin-left: 52px;
  list-style: none;
}

.footer__nav > .nav > .nav__list > .nav__item {
  margin-right: 32px;
}

.footer__nav > .nav > .nav__list > .nav__item:not(:first-child) {
  margin-left: 20px;
}

.footer__nav > .nav > .nav__list > .nav__item > .nav__link {
  font-style: italic;
  font-size: 20px;
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__nav > .nav > .nav__list > .nav__item > .nav__link:hover {
  color: var(--hover-color);
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 45px;
}

.footer__logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.footer__logo > .logo__link {
  color: var(--link-color);
  text-decoration: none;
}

.footer__logo > .logo__link:hover {
  color: var(--hover-color);
}

.footer__logo > .logo__link > .logo__text {
  font-family: 'Prata';
  font-size: 36px;
  text-transform: uppercase;
}

.footer__social-links {
  display: flex;
  justify-content: center;
}

.footer__social-links > .social-links__list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
  list-style: none;
}

.social-links__list > .social-links__item {
  margin-right: 24px;
}

.social-links__list > .social-links__item > .social-links__link {
  display: block;
  width: 32px;
  height: 32px;
}

.social-links__link.link__instagram {
  background: url('../images/icons/instagram.svg');
}

.social-links__link.link__tiktok {
  background: url('../images/icons/tiktok.svg');
}

.social-links__link.link__linkedin {
  background: url('../images/icons/linkedin.svg');
}

.social-links__link.link__facebook {
  background: url('../images/icons/facebook.svg');
}

.social-links__link.link__telegram {
  background: url('../images/icons/telegram.svg');
}

.social-links__link.link__youtube {
  background: url('../images/icons/youtube.svg');
}

.footer__button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.footer__button {
  padding: 26px 54px;
  font-style: italic;
  font-size: 20px;
  color: var(--first-button-color);
  background-color: var(--first-button-bg);
}

.footer__year,
.footer__privacy,
.footer__terms {
  display: flex;
  align-items: center;
  padding-top: 18px;
  font-size: 20px;
}

.footer__year {
  padding-left: 10px;
}

.footer__privacy {
  justify-content: center;
  padding-left: 38px;
}

.footer__terms {
  justify-content: flex-end;
  padding-right: 14px;
}

.footer__privacy > .privacy__text,
.footer__terms > .terms__text {
  text-decoration: none;
  color: var(--footer-link-color);
}

.footer__privacy > .privacy__text:hover,
.footer__terms > .terms__text:hover {
  color: var(--hover-color);
}
