@import url('./fonts.css');
@import url('./variables.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: var(--font-color);
  background-color: var(--first-bg-color);
}

h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

.container, .wrapper {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
}

.header--sticky {
  position: fixed;
}

.header__container {
  display: flex;
  gap: 210px;
  align-items: center;
  padding-top: 20px;
  padding-left: 26px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo > .logo__link {
  color: var(--link-color);
  text-decoration: none;
}

.header__logo > .logo__link:hover {
  color: var(--hover-color);
}

.logo__link >.logo__text {
  font-family: 'Prata';
  font-size: 36px;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav__item > .nav__link {
  font-style: italic;
  font-size: 16px;
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav__item > .nav__link:hover {
  color: var(--hover-color);
}

main {
  /* padding-top: 100px; */
}

.main__container {
  display: flex;
  flex-direction: column;
}

.description__content {
  max-width: 530px;
  margin-top: 217px;
  margin-left: 10px;
}

.description__content > .description__title {
  font-family: 'Prata';
  font-size: 80px;
  line-height: 102px;
}

.description__content > .description__subtitle {
  font-size: 50px;
  line-height: 82px;
  letter-spacing: -2px;
}

.description__list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  list-style: none;
}

.description__list > .description__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.description__list > .description__item::before {
  content: '';
  width: 39px;
  height: 37px;
  margin-right: 20px;
  background: url('../images/icons/hero.svg');
}

.description__item > .description__text {
  font-size: 24px;
}

.description__item > .description__text .highlight {
  margin-right: 10px;
  font-family: 'Prata';
  font-size: 40px;
}

.description__button {
  margin-top: 15px;
  padding: 33px 52px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
}

.description__img {
  position: absolute;
  top: 0;
  right: 0;
}

.description__img > img {
  max-width: 746px;
  width: 746px;
  max-height: 1009px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.main__advantages {
  margin-top: 50px;
  background-color: var(--second-bg-color);
}

.advantages__content {
  display: flex;
  padding-top: 100px;
}

.advantages__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  list-style: none;
}

.advantages__list > .advantages__item {
  padding: 0 54px;
}

.advantages__item > .advantages__item-text {
  display: flex;
  padding: 37px 0;
  font-size: 24px;
  line-height: 29px;
}

.advantages__item:not(:last-child) > .advantages__item-text {
  border-bottom: 1px solid var(--line-color);
}

.advantages__item > .advantages__item-text::before {
  content: '';
  display: block;
  min-width: 58px;
  height: 47px;
  margin-right: 20px;
  background: url('../images/icons/advantages.svg');
}

.advantages__img > img {
  max-width: 622px;
  max-height: 724px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.advantages__img.advantages__img--left > img {
  width: 724px;
}

.advantages__img.advantages__img--right > img {
  width: 561px;
}

.advantages__button {
  margin-top: 44px;
  padding: 27px 270px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
}
